<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌊</text></svg>">

<meta name="apple-mobile-web-app-capable" content="yes">

{{ turbo() }}

<style>

table {
    font-family: monospace;
}

td {
    padding: 0 5px 5px 5px;
}

form,
form select,
form input {
    font-size: 16px;
}

form.flex {
    display: flex;
    flex-wrap: wrap;
}

form .row {
    padding-left: 10px;
    padding-bottom: 5px;
}

select {
    max-width: 95%;
}
</style>

<title>Tides</title>
</head>

<body>

<form action="/" class="flex">
    <div class="row">
        <label for="tide">Tide station:</label>
        <select name="tide" id="tide">
            {% for s in local_tide_stations | sort(attribute='name') %}
            <option value="{{s.id}}" {{'selected' if tide_station['id'] == s['id']}} >{{ s.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row">
      <label for="current">Current station:</label>
      <select name="current" id="current">
          {% for s in local_current_stations | selectattr("currbin", "equalto", 1) | sort(attribute='name') %}
          <option value="{{s.id}}" {{'selected' if current_station['id'] == s['id']}} >{{ s.name }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="row">
      <label for="offset">Tide offset (+/- min):</label>
      <input type="number" name="offset" id="offset" value="{{ tide_offset }}" />
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
</form>

{{ fig_html | safe }}

<h3>WX</h3>

<table>
    {% for f in forecast %}
    <tr>
        <td>{{ f.when}}</td>
        <td>{{ f.text}}</td>
    </tr>
    {% endfor %}
</table>

<h3>Observations</h3>

<table>
    <tr>
        <td>Station:</td>
        <td><a href="https://tidesandcurrents.noaa.gov/stationhome.html?id=8510560">MTK (8510560)</a></td>
    </tr>
    <tr>
        <td>Water temp:</td>
        <td>{{ water_temp['v'] }}&deg;F</td>
    </tr>
    <tr>
        <td>Updated at:</td>
        <td>{{ water_temp['t'] }}</td>
    </tr>
</table>

<h3>Station Details</h3>

<table>
    <tr>
        <td>Tide:</td>
        <td><a href="https://tidesandcurrents.noaa.gov/stationhome.html?id={{ tide_station['id'] }}"</a>{{ tide_station['name'] }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ tide_station['lat'] }}, {{ tide_station['lng'] }}</td>
    </tr>
    <tr>
        <td>Current:</td>
        <td><a href="https://tidesandcurrents.noaa.gov/stationhome.html?id={{ current_station['id'] }}"</a>{{ current_station['name'] }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ current_station['lat'] }}, {{ current_station['lng'] }}</td>
    </tr>
</table>

<!-- https://sunrise-sunset.org/api -->
</body>
</html>
