<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌊</text></svg>">

<meta name="apple-mobile-web-app-capable" content="yes">

{{ turbo() }}


<title>Tides</title>
</head>

<body>

<form action="/">
  <label for="current">Current station:</label>
  <select name="current">
      <!-- <option value="ACT2721">Orient Pt</option> -->
      <option value="ACT2781" {{'selected' if current_station == "ACT2781"}}>Rocky Pt</option>
      <option value="ACT2721" {{'selected' if current_station == "ACT2721"}}>Orient Pt</option>
      <option value="ACT2841" {{'selected' if current_station == "ACT2841"}}>Horton Pt</option>
      <option value="LIS1012" {{'selected' if current_station == "LIS1012"}}>Plum Gut</option>
      <option value="ACT2521" {{'selected' if current_station == "ACT2521"}}>Jennings Pt</option>
      <option value="ACT2541" {{'selected' if current_station == "ACT2541"}}>Little Peconic</option>
  </select>
  <label for="tide">Tide station:</label>
  <select name="tide">
      <option value="8512053" {{'selected' if tide_station == "8512053"}}>Hashamomuck Beach</option>
      <option value="8512114" {{'selected' if tide_station == "8512114"}}>Southold</option>
      <option value="8511671" {{'selected' if tide_station == "8511671"}}>Orient Harbor</option>
      <option value="8511236" {{'selected' if tide_station == "8511236"}}>Plum Gut</option>
      <option value="8511907" {{'selected' if tide_station == "8511907"}}>Greenport</option>
  </select>
  <input type="submit" value="Submit">
</form>

{{ fig_html | safe }}

<table>
    {% for f in forecast %}
    <tr>
        <td>{{ f.when}}</td>
        <td>{{ f.text}}</td>
    </tr>
    {% endfor %}
</table>

<!-- https://sunrise-sunset.org/api -->
</body>
</html>
