<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1, interactive-widget=overlays-content" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌊</text></svg>">

<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="manifest" href="/manifest.json">

{% include 'splash.html' %}
{% include 'plotly.html' %}
{% include 'turbo.html' %}

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker
                .register('/service-worker.js')
                .then((registration) => {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch((error) => {
                    console.error('Service Worker registration failed:', error);
                });
        });
    }

document.addEventListener("turbo:load", () => {
    var favCheck = document.getElementById('fav');
    var favState = document.getElementById('fav_state');

    document.getElementById('tide').onchange = (event) => {
        favCheck.checked = false;
        favState.checked = false;
    }

    document.getElementById('current').onchange = (event) => {
        favCheck.checked = false;
        favState.checked = false;
    }

    var myPlot = document.getElementById('myPlot')
    myPlot.on('plotly_relayout', function(){
        var range = myPlot.layout.xaxis.range;
        var start = new Date(range[0]).getTime() / 1000;
        var end = new Date(range[1]).getTime() / 1000;

        var annotations = [];

        if ((end - start) > (64800 * 1.5)) {
            myPlot.layout.annotations.forEach(item => {
                if (item.name == "wind") {
                    item.visible = false;
                    annotations.push(item);
                }
            });
            Plotly.update(myPlot, {annotations: annotations});
        } else {
            myPlot.layout.annotations.forEach(item => {
                if (item.name == "wind") {
                    item.visible = true;
                    annotations.push(item);
                }
            });
            Plotly.update(myPlot, {annotations: annotations});
        };
	});


})


</script>


<style>

html {
    overscroll-behavior: none;
}

body {
    font-family: monospace;
    font-size: 16px;
    color: white;
    background-color: rgb(17, 17, 17);
}

td {
    padding: 0 5px 5px 5px;
    vertical-align: top;
}


select,
select:focus,
button,
input {
    font-size: 18px;
    font-family: monospace;
    background-color: black;
    border-color: white;
    border-radius: 2px;
    border-style: solid;
    color: white;
    font-weight: normal;
    height: 28px;
    /* the following ensures they're all using the same box-model for rendering */
    -moz-box-sizing: border-box; /* or `border-box` */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}

button {
    background-color: #4ea6d9;
    border-color: #4ea6d9;
    color: black;
}

a {
    color: #4ea6d9;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

form.flex {
    margin: 5px 0;
}

form .row {
    margin-bottom: 5px;
}

select {
    max-width: 345px;
}

#offset {
    width: 70px;
}

.offset-num {
    margin-right: 10px;

}

#map {
    max-width: 100%;
}

.favs {
    margin: 10px 0 10px 0;
}

.hazard {
    margin-bottom: 16px;
}

.hazard summary {
    color: orange;
}

table.forecast {
    overflow-x: scroll;
    width: 285px;
    display: block;
    margin-left: 78px;
}

table.forecast td {
    white-space: nowrap;
}

.head-col {
    font-weight: bold;
    position: absolute;
    width: 78px;
    left: 0;
    top: auto;
    border-right: 2px solid black;
}

tr.day td {
    background-color: #333;
}

tr.night td {
    background-color: #000;
}

td.r {
    text-align: right;
}

td.r details[open] {
    text-align: left;
}

td.c {
    text-align: center;
}

@media (min-width: 800px) {
    form .row {
        margin: 0 20px 5px 0;
    }
    .details .row {
        <!-- width: 50% -->

    }
    table.forecast {
        width: 100%;
    }
}




</style>

<title>Surfcast Info</title>
</head>

{% set tc = tide_station['lng']|round(4)|string + ", " + tide_station['lat']|round(4)|string %}
{% if current_station %}
{% set cc = current_station['lng']|round(4)|string + ", " + current_station['lat']|round(4)|string %}
{% endif %}

<body>

{{ fig_html | safe }}


<div class="favs">
{% for f in favs %}

{% set tf = f.split(":")[0] %}
{% set cf = f.split(":")[1] %}




{% if cf %}
    <a href={{ url_for('tides', tide=tf, current=cf) }}>{{ f }}</a>
{% else %}
    <a href={{ url_for('tides', tide=tf, current=cf) }}>{{ tf}}</a>
{% endif %}
{% endfor %}
</div>

<form action="/" method="POST" class="flex">
    <div class="row">
        <label for="tide">Tide:</label>
        <select name="tide" id="tide">
          {% for k,v in tide_station_group.items() %}
          {% if v['stations'] != [] %}
              <optgroup label="{{v['meta']['geoGroupName']}}">
                  {% for s in v['stations'] | sort(attribute='geoGroupName') | unique(attribute="geoGroupName") %}
                  <option value="{{s.stationId}}" {{'selected' if tide_station['id'] == s['stationId']}} >{{ s.geoGroupName }}</option>
                  {% endfor %}
                  {% endif %}
          {% endfor %}

        </select>
    </div>
    <div class="row">
      <label for="current">Current:</label>
      <select name="current" id="current">
          <option value="None" {{'selected' if current_station == "None"}} >No current station</option>
          {% for k,v in current_station_group.items() %}
              <optgroup label="{{v['meta']['groupName']}}">
                  {% for s in v['stations'] | sort(attribute='stationName') | unique(attribute="stationName") %}
                  <option value="{{s.stationID}}" {{'selected' if current_station['id'] == s['stationID']}} >{{ s.stationName }}</option>
                  {% endfor %}
          {% endfor %}
      </select>
    </div>
    <!-- <div class="row"> -->
    <!--   <label for="met">Met:</label> -->
    <!--   <select name="met" id="met" hidden> -->
    <!--       {% for s in local_met_stations | sort(attribute='name') %} -->
    <!--       <option value="{{s.id}}" {{'selected' if met_station['id'] == s['id']}} >{{ s.name }}</option> -->
    <!--       {% endfor %} -->
    <!--   </select> -->
    <!-- </div> -->
    <div class="row">
      <input type="number" placeholder="+/-" name="offset" id="offset"/>
      {% if tide_offset != 0 %}
      <span class="offset-num">{{ "+" if tide_offset > 0 else ""}}{{ tide_offset }}m</span>
      {% endif %}
        <label for="fav">Fav</label>
        <input type="checkbox" id="fav" name="fav" {{ 'checked' if is_fav else '' }} />
        <input hidden type="checkbox" id="fav_state" name="fav_state" {{ 'checked' if is_fav else '' }} />
        <button type="submit"/>Update</button>
    </div>
</form>

        {% if hazards %}
        <div class='hazard'>
        {% for h in hazards %}
        <details>
            <summary>{{h['headline']}}</summary>
            <pre>{{h['description']}}</pre>
        </details>
        {% endfor %}
        </div>
        {% endif %}

<div class="flex details">
    <div class="row">
        <h3>Weather Forecast</h3>

        <table class="forecast">
            <thead>
                <tr>
                    <th class="head-col"></th>
                    <th colspan="3">wind</th>
                    <th></th>
                    <th>air</th>
                    <th></th>
                    <th colspan="4">tides</th>
                    <th colspan="4">sun</th>
                    <th colspan="3">moon</th>
                </tr>
                <tr>
                    <th class="head-col"></th>
                    <th>dir</th>
                    <th>speed</th>
                    <th>gust</th>
                    <th>seas</th>
                    <th>temp</th>
                    <th>pop</th>
                    <th>high</th>
                    <th>feet</th>
                    <th>low</th>
                    <th>feet</th>
                    <th>dawn</th>
                    <th>rise</th>
                    <th>set</th>
                    <th>dusk</th>
                    <th>phase</th>
                </tr>
            </thead>

        {% set day_loop = namespace(value=0) %}
        {% for f in forecast %}
        {% set i = loop.index0 %}
        {% set t = f.startTime.strftime("%Y-%m-%dT%H:%M:%S%z") %}
        {% set tides = tide_by_day.get(d) %}

        <tr class="{{ 'day' if f.isDaytime else 'night' }}">
            {% if i == 0 %}
            <td class="head-col"> {{ "Today" if f.isDaytime else "Tonight" }} </td>
            {% elif i == 1 %}
            <td class="head-col"> {{ "Tomorrow" if f.isDaytime else "Tonight" }} </td>
            {% elif f.isDaytime %}
            <td class="head-col"> {{ f.name }}</td>
            {% else %}
            <td class="head-col">&nbsp;</td>
            {% endif %}
            <!-- <td> {{ f. shortForecast }}</td> -->
            {% if t in fc %}
            <td class="c"> {{ fc[t].wind_dir  }} </td>
            {% if fc[t].wind_more %}
            <td class="r">
                <details>
                    <summary>{{ fc[t].wind_speed  }} {{fc[t].wind_unit}} </summary>
                    {{ fc[t].wind_more }}
                </details>
            </td>
            {% else %}
                <td class="r">{{ fc[t].wind_speed  }} {{fc[t].wind_unit}} </td>
            {% endif %}
            <td class="r"> {{ fc[t].gusts + " " + fc[t].wind_unit  if fc[t].gusts else "" }}</td>
            <td class="r"> {{ fc[t].seas + "'" if fc[t].seas }}</td>
            {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% endif %}
            <td> {{ f.temperature }}&deg;{{ f.temperatureUnit }} </td>
            <td class="r"> {{ f.probabilityOfPrecipitation.value|string + "%" if f.probabilityOfPrecipitation.value else "" }}</td>
            <td>
                {% for t in tide_by_day.high %}{% if t.time >= f.startTime and t.time <= f.endTime %}
                {{ t.time.strftime("%H:%M") }}
            {% endif %}{% endfor %}
            </td>
            <td class="r">
                {% for t in tide_by_day.high %}{% if t.time >= f.startTime and t.time <= f.endTime %}
                {{ t.feet | round(1) }}'
            {% endif %}{% endfor %}
            </td>
            <td>
            {% for t in tide_by_day.low %}{% if t.time >= f.startTime and t.time <= f.endTime %}
                {{ t.time.strftime("%H:%M") }}

            {% endif %}{% endfor %}
            </td>
            <td class="r">
                {% for t in tide_by_day.low %}{% if t.time >= f.startTime and t.time <= f.endTime %}
                {{ t.feet | round(1) }}'
                {% endif %}{% endfor %}
            </td>
            {% if f.isDaytime %}

            <td>{{ sun[day_loop.value]['dawn'].strftime('%H:%M') }}</td>
            <td>{{ sun[day_loop.value]['rise'].strftime('%H:%M') }}</td>
            <td>{{ sun[day_loop.value]['set'].strftime('%H:%M') }}</td>
            <td>{{ sun[day_loop.value]['dusk'].strftime('%H:%M') }}</td>
            <td></td>
            {% set day_loop.value = day_loop.value + 1 %}
            {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="c">{{ moon_forecast.get(f.endTime.strftime("%Y-%m-%d"), '') }}</td>
            {% endif %}
        </tr>

        {% endfor %}
        </table>
        <table>
            <tr>
                <td>Forecast:</td>
                <td>
            <a href="https://forecast.weather.gov/MapClick.php?lat={{tide_station['lat']}}&lon={{tide_station['lng']}}" target="_blank">{{tide_station['lat']}}, {{tide_station['lng']}}</a>
                </td>
            {% if current_station %}
                <tr>
                <td>Marine:</td>
                <td>
            <a href="https://marine.weather.gov/MapClick.php?lat={{current_station['lat']}}&lon={{current_station['lng']}}" target="_blank">{{current_station['lat']}}, {{current_station['lng']}}</a>
                </td>
                </tr>

            {% endif %}
        </p>

        <h3>Observations</h3>

        <table>
            <thead>
                <tr>
                    <th></th>
                    {% for station in met_data['Wind Speed'].keys() %}
                    <th><a href="https://www.ndbc.noaa.gov/station_page.php?station={{station}}" target="_blank">{{ station }}</a></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data_type, values in met_data.items() %}
                <tr>
                    <td>{{ data_type }}</td>
                    {% for station, value in values.items() %}
                    <td>{{ value|safe }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <h3> Upcoming Moon Phases </h3>

    <table>
    {% for ph in moon_phases %}
    <tr>
        <td>{{ph['date'].strftime("%m/%d")}}</td>
        <td>{{ph['phase']}}</td>
    </tr>
     {% endfor %}

    </table>

    </div>
    <div class="row">
        {% set at = "pk.eyJ1Ijoibmlja3d5bmphIiwiYSI6ImNtMzh6ZWN0YzBrbXUybG9nYXhjdnFlc2cifQ.uUURdxJOZ72zXmM9oqvW7g" %}

        {% if current_station %}
        <img id="map" src="https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v12/static/pin-s+1e00ff({{tc|replace(" ", "")}}),pin-s+ff0000({{cc|replace(" ", "")}})/auto/800x500?padding=50&access_token={{at}}" />
        {% else %}
        <img id="map" src="https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v12/static/pin-s+1e00ff({{tc|replace(" ", "")}})/{{tc|replace(" ", "")}},13,0/800x500?access_token={{at}}" />
        {% endif %}

        <h3>Station Details</h3>

        <table>
            <tr>
                <td style="color: blue;">Tide:</td>
                <td><a href="https://tidesandcurrents.noaa.gov/stationhome.html?id={{ tide_station['id'] }}" target="_blank">{{ tide_station['name'] }}</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="https://tidesandcurrents.noaa.gov/map/index.html?lat={{ tide_station['lat'] }}&lng={{ tide_station['lng'] }}&zoom=11&type=tidepredictions&id={{ tide_station['id'] }}" target="_blank">View on map</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ tc }}</td>
            </tr>
            {% if current_station %}
            <tr>
                <td style="color: red;">Current:</td>
                <td><a href="https://tidesandcurrents.noaa.gov/noaacurrents/predictions.html?id={{ current_station['id'] }}_1" target="_blank">{{ current_station['name'] }}</a></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ cc }}</td>
            </tr>
            <tr>
                <td></td>
                <td><a href="https://tidesandcurrents.noaa.gov/map/index.html?lat={{ current_station['lat'] }}&lng={{ current_station['lng'] }}&zoom=11&type=currentpredictions&id={{ current_station['id'] }}" target="_blank">View on map</a></td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

</body>
</html>
